www.{$APP_DOMAIN} {
  redir https://{$APP_DOMAIN}{uri} permanent
}

{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy app:3000

  header {
    -Server
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    Strict-Transport-Security "max-age=31536000"
  }

  log {
    output stdout
    format json
  }
}
